@import 'style.css';

@media (min-width: 650px) {
    body {
        border: solid 2px orange;
    }

    .container {
        margin: 20px 80px;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .image {
        height: 100%;

        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .content {
        margin: 41px 36px 41px 30px;
    }

    .iconContainer {
        position: relative;
    }

    .popUp {
        position: absolute;
        top: -75px;
        width: 250px;
        height: 55px;

        background-color: var(--grey900);
        border-radius: 10px;
        box-shadow: 0px 10px #C9D5E1 10px;

        display: flex;
        justify-content: space-around;
        align-items: center;

        /* Initially invisible */ 
        display: none;
    }

    .shareIcon {
        width: 20px;
        height: 20px;
    }

    .triangle {
        position: absolute;
        height: 17px;
        width: 17px;
        background-color: red;

        transform: rotate(45deg);
        background-color: var(--grey900);
        top: 45px;
    }
}