@import 'general_styles.css';

body {
    background-color: var(--grey200);
}

.container {
    width: 87%;
    margin-top: 0px;
    border-radius: 10px;

    box-shadow: 0px 40px 40px #C9D5E1;

    background-color: white;

    transition: all 0.3s ease-in-out;
}

.image {
    background-image: url('images/drawers.jpg');
    background-size: cover;
    background-position: center;

    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    margin: 32px 30px 18px 30px;
}

.topSection {
    color: var(--grey900);
}

.middleSection {
    margin-top: 24px;
    color: var(--grey500);
}

.bottomSection {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.userImage {
    background-image: url('images/avatar-michelle.jpg');
    background-size: cover;
    background-position: center;

    width: 40px;
    height: 40px;
    
    border-radius: 50%;
}

.userName {
    color: var(--grey900);
}

.userDate {
    color: var(--grey400);
}

.iconContainer {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--grey200);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;
    cursor: pointer;
}

.icon {
    width: 15px;
}

/* Share section */

.socialMedia {
    padding: 18px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--grey900);

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* This section is initially hidden */
    display: none;
}

.shareSection {
    display: flex;
    align-items: center;
    gap: 24px;
}

.shareText {
    color: var(--grey400);
    cursor: pointer;
    transition: all 0.2s;
}

.shareIcons {
    display: flex;
    gap: 16px;

    cursor: pointer;
}

.shareIcon {
    transition: all 0.2s;
}

.darkIconContainer {
    background-color: var(--grey500);
}

.darkIcon {
    color: white;
}

.iconDark {
    display: none;
}

.popUp {
    display: none;
    cursor: default;
}

/* Effects */
.container:hover {
    transform: scale(1.02);
    box-shadow: 0px 40px 40px #b8c3ce;
}

.iconContainer:hover {
    background-color: #d6dce2;
}

.darkIconContainer:hover {
    background-color: #5e6e83;
}

.shareIcon:hover {
    transform: scale(1.1);
}

.shareText:hover {
    transform: scale(1.1);
}